.wrapper {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border-radius: var(--border-radius-4);
  border: 1px solid var(--border-line);
}

.option {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 8px 24px;
  color: var(--content-primary);
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  border-radius: var(--border-radius-4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  user-select: none;
  text-align: left;

  &Active {
    background-color: #228be6;
    color: var(--background-white);
    box-shadow: var(--shadow-box);
  }

  + .option {
    margin-left: 12px;
  }

  &Flag {
    display: block;
    width: 24px;
    min-width: 24px;
    height: 24px;
    margin-right: 8px;
    border-radius: 50%;

    &--uz {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23F0F0F0' d='M.566625 8.34785C.199031 9.49947-.00004687 10.7263 0 11.9999c-.00004687 1.2736.199078 2.5005.566672 3.6522L12 16.1739l11.4333-.5218C23.8009 14.5005 24 13.2735 24 12c0-1.2736-.1991-2.50053-.5667-3.6522L12 7.82608.566625 8.34785z'/%3E%3Cpath fill='%23D80027' d='M23.4324 8.34786L11.999 7.82614.565646 8.34786c-.108938.34144-.202735.68958-.281344 1.04349H23.7136c-.0786-.35396-.1723-.70215-.2812-1.04349zM.283569 14.6088c.078516.3539.172313.702.28125 1.0434h.001125l11.432156.5218 11.4333-.5218c.109-.3414.2028-.6895.2813-1.0434H.283569z'/%3E%3Cpath fill='%236DA544' d='M11.9992 23.9998c5.3539 0 9.8881-3.5064 11.4333-8.3478H.565918C2.11115 20.4934 6.64546 23.9998 11.9992 23.9998z'/%3E%3Cpath fill='%23338AF3' d='M12.0001.00006866C6.64632.00011554 2.1121 3.50651.566772 8.3479l22.866628.00004C21.8882 3.50646 17.354.00002179 12.0001.00006867z'/%3E%3Cpath fill='%23F0F0F0' d='M5.48412 4.95651c0-1.12392.78989-2.06282 1.84472-2.29317-.1621-.03543-.33033-.05461-.50311-.05461-1.29666 0-2.34782 1.05113-2.34782 2.34783 0 1.2967 1.05107 2.34782 2.34782 2.34782.17278 0 .34097-.01922.50311-.05461-1.05478-.23043-1.84472-1.16934-1.84472-2.29326zM8.71604 6.02347l.1589.48914h.51432l-.41607.30234.15891.48914-.41606-.30229-.41616.30229.15895-.48914-.41611-.30234h.51432l.159-.48914zM10.358 6.02347l.159.48914h.5143l-.4161.30234.1589.48914-.4161-.30229-.41608.30229.15898-.48914-.41609-.30234h.51429l.1589-.48914zM11.9992 6.02347l.1589.48914h.5144l-.4161.30234.1589.48914-.4161-.30229-.4161.30229.159-.48914-.4162-.30234h.5144l.1589-.48914zM13.6422 6.02347l.1589.48914h.5143l-.4161.30234.159.48914-.4161-.30229-.4162.30229.159-.48914-.4161-.30234h.5143l.159-.48914zM15.2823 6.02347l.159.48914h.5143l-.416.30234.1589.48914-.4162-.30229-.4161.30229.159-.48914-.4161-.30234h.5143l.1589-.48914zM10.358 4.31618l.159.48909h.5143l-.4161.30239.1589.4891-.4161-.3023-.41608.3023.15898-.4891-.41609-.30239h.51429l.1589-.48909zM11.9992 4.31618l.1589.48909h.5144l-.4161.30239.1589.4891-.4161-.3023-.4161.3023.159-.4891-.4162-.30239h.5144l.1589-.48909zM13.6422 4.31618l.1589.48909h.5143l-.4161.30239.159.4891-.4161-.3023-.4162.3023.159-.4891-.4161-.30239h.5143l.159-.48909zM15.2823 4.31618l.159.48909h.5143l-.416.30239.1589.4891-.4162-.3023-.4161.3023.159-.4891-.4161-.30239h.5143l.1589-.48909zM11.9992 2.6086l.1589.48918h.5144l-.4161.3023.1589.48919-.4161-.3023-.4161.3023.159-.48919-.4162-.3023h.5144l.1589-.48918zM13.6422 2.6086l.1589.48918h.5143l-.4161.3023.159.48919-.4161-.3023-.4162.3023.159-.48919-.4161-.3023h.5143l.159-.48918zM15.2823 2.6086l.159.48918h.5143l-.416.3023.1589.48919-.4162-.3023-.4161.3023.159-.48919-.4161-.3023h.5143l.1589-.48918z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &--ru {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%23F0F0F0'/%3E%3Cpath d='M23.2536 16.1739C23.736 14.8739 24 13.4678 24 12C24 10.5321 23.736 9.12606 23.2536 7.82608H0.746391C0.264047 9.12606 0 10.5321 0 12C0 13.4678 0.264047 14.8739 0.746391 16.1739L12 17.2173L23.2536 16.1739Z' fill='%230052B4'/%3E%3Cpath d='M11.9992 24C17.1588 24 21.5573 20.7435 23.2528 16.1739H0.745605C2.44112 20.7435 6.83964 24 11.9992 24Z' fill='%23D80027'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--en {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M12 24C18.6274 24 24 18.6274 24 12C24 5.37258 18.6274 0 12 0C5.37258 0 0 5.37258 0 12C0 18.6274 5.37258 24 12 24Z' fill='%230052B4'/%3E%3Cpath d='M2.48217 4.6945C1.54511 5.9174.856219 7.34174.483765 8.89652H6.68419L2.48217 4.6945Z' fill='%23F0F0F0'/%3E%3Cpath d='M23.5163 8.89652c-.3725-1.55478-1.0613-2.97912-1.9984-4.20202l-4.202 4.20202h6.2004Z' fill='%23F0F0F0'/%3E%3Cpath d='M.483765 15.1035c.372454 1.5548 1.061345 2.9791 1.998405 4.202L6.68419 15.1035H.483765Z' fill='%23F0F0F0'/%3E%3Cpath d='M19.3051 4.6945 15.1035 8.89652h6.2004c-.3725-1.55478-1.0613-2.97912-1.9984-4.20202Z' fill='%23F0F0F0'/%3E%3Cpath d='M4.6945 21.5178c1.2229.9371 2.6472 1.626 4.202 1.9984v-6.2004l-4.202 4.202Z' fill='%23F0F0F0'/%3E%3Cpath d='M19.3055 19.3055c-.9371.9371-2.3615 1.626-4.202 1.9984v-6.2004l4.202 4.202Z' fill='%23F0F0F0'/%3E%3Cpath d='M8.89652.483765c-1.55478.372454-2.97912 1.061345-4.20202 1.998405l4.20202 4.20202V.483765Z' fill='%23F0F0F0'/%3E%3Cpath d='M15.1035 23.5163c1.5548-.3725 2.9791-1.0613 4.202-1.9984l-4.202-4.202v6.2004Z' fill='%23F0F0F0'/%3E%3Cpath d='M23.8983 10.4348H13.5652V.101746C13.0543.035289 12.533.00009375 12 .00009375c-.5331 0-1.0543.0351953-1.5652.101652V10.4348H.101746C.035289 10.9457 0 11.467 0 12c0 .5331.0351953 1.0543.101652 1.5652H10.4348V23.8983c.5109.0665 1.0322.1017 1.5652.1017.5331 0 1.0543-.0352 1.5652-.1017V13.5652H23.8983C23.9647 13.0543 24 12.533 24 12c0-.5331-.0352-1.0543-.1017-1.5652Z' fill='%23D80027'/%3E%3Cpath d='M15.1035 15.1035 20.4934 20.4934c.2487-.2487.4852-.5096.7094-.7817l-4.6057-4.6057h-1.1032Z' fill='%23D80027'/%3E%3Cpath d='M8.89652 15.1035 3.50661 20.4934c.24872.2487.50962.4852.78175.7094l4.60816-4.6082v-1.1011Z' fill='%23D80027'/%3E%3Cpath d='M8.89652 8.89652 3.50661 3.50661c-.24872.24872-.48522.50962-.7094.78175l4.60816 4.60816h1.10115Z' fill='%23D80027'/%3E%3Cpath d='M15.1035 8.89652 20.4934 3.50661c-.2487-.24872-.5096-.48522-.7817-.7094l-4.6082 4.60816v1.10115Z' fill='%23D80027'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &Badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 10px;
    line-height: 140%;
    background: var(--background-red);
    color: var(--content-white);
    border-radius: 50%;
  }

  &HasBadge {
    padding-right: 10px;
  }
}
